body {
  font-family: var(--font-primary);
  background-color: #f5f7fa;
}


/* Login Page */

.main-container {
  margin: 5rem auto;
  max-width: 1000px;
}

.login-container {
  display: flex;
  flex-direction: row;
}

.left-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  padding: 0 4rem;
  background-color: white;
}

.left-container img {
  width: 7.375rem;
  height: auto;
  flex-shrink: 0;
}

.main-heading {
  color: var(--color-primary);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 0;
}

.secondary-heading {
  color: var(--color-neutral);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

.login-form {
  width: 100%;
}

.input-with-icon {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px;
  border: 1px solid var(--color-light-neutral);
  border-radius: 12px;
  margin-bottom: 1rem;
}

.input-with-icon input::placeholder {

  font-weight: 400;
 
}

.input-with-icon input {
  border: none;
  color: #111827;
  font-size: 1.125rem;
  padding-bottom: 0;
  font-weight: 500;
}

.input-with-icon input:focus {
  outline: none;
}

.login-icon {
  margin-right: 10px;
  margin-left: 5px;
  height: 25px;
}

.additional-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; /* Adjust spacing as needed */
}

.remember-me {
  flex-grow: 1; /* Left-align */
}

.form-check-input{
  border: 1px solid var(--color-cta);
  margin-top: 0;
  width:1.125rem;
  height: 1.125rem;
  margin-right: 0.75rem;
  border-radius: 0.25em;
}

.forgot-password {
  text-align: right; /* Right-align */
}

.btn-login {
  width: 100%;
  background-color: var(--color-cta);
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  border: 1px solid transparent;
}

.btn-login:hover {
  width: 100%;
  border: 1px solid var(--color-cta);
  color: var(--color-cta);
}
/* Media Queries */

@media (max-width: 1000px) {
  .main-container {
    margin: 8rem;
  }

  .login-container {
    flex-direction: column;
  }

  .left-container {
    width: 100%;
    padding: 4rem;
  }
}
